<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://136.142.15.30:8001/hebei_mst/upload/community.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ztesoft.hbsp</string>
				<key>bundle-version</key>
				<string>2.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>营销沙盘</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
